.item-card {
  overflow: hidden;
  position: relative;
}

.item-card img {
  transition: transform 1.2s ease;
}

.btn-custom {
  color: #fff;
  background-color: #84734d;
  border-color: #84734d;
}

.btn-custom:hover {
    color: #fff;
    background-color: #64573a;
}

.item-card:hover img {
  transform: scale(1.08); /* Adjust the scale factor as needed */
}
.quick-view-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.item-card:hover .quick-view-btn {
  opacity: 1;
}
