.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-label {
  font-size: 12px;
  line-height: 1.25em;
  font-weight: 700;
  color: grey;
  margin-bottom: 0;
}
.img-small-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.error-label {
  color: red;
}
